.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;}

.cabecalho__logo a h1 img {
    height: 7rem;
}

.cabecalho a[href="#"]{
    border: solid;
}
.cabecalho__nav--lista {
    display: flex;
    gap: 6rem;
    list-style: none;
    margin-right: 9rem;
    align-self: flex-end;
    position: relative;
}

.cabecalho__nav--lista > li a{
    display: inline-block;
    color: var(--texto);
    font-size: 2rem;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    border: solid 3px transparent;
}

.cabecalho__nav--lista > li a:hover{
    border: solid;
}

@media (max-width: 900px){
    .cabecalho {
        display: block;
        position: relative;
        text-align: center;
    }
    .cabecalho__nav {
        display: block;
        position: relative !important;
    }
    .cabecalho__nav--lista{
        display: none;
        width: 100%;
    }
    .cabecalho__nav--lista > li a{
        width: 100%;
    }
}

