.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;}

.cabecalho__logo a h1 img {
    height: 7rem;
}

.cabecalho a[href="#"]{
    border: solid;
}
.cabecalho__nav--lista {
    display: flex;
    gap: 6rem;
    list-style: none;
    margin-right: 9rem;
    align-self: flex-end;
    position: relative;
}

.cabecalho__nav--lista > li a{
    display: inline-block;
    color: var(--texto);
    font-size: 2rem;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    border: solid 3px transparent;
}

.cabecalho__nav--lista > li a:hover{
    border: solid;
}

/* .hamburguer {
    background-color: var(--texto);
    position: relative;
    display: none;
    width: 3rem;
    height: .2rem;
    top: 2.9rem;
    left: 1.5rem;
    transition: .5s ease-in-out;
    border-radius: 1rem;
}

.hamburguer::before, .hamburguer::after{
    background-color: var(--texto);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
    border-radius: 1rem;

}

.hamburguer::before {
    top: 1rem;
    display: none;
}

.hamburguer::after{
    bottom: 1rem;  
    display: none; 
}

input {
    display: none;
}

input:checked ~ label .hamburguer{
    transform: rotate(45deg);

}

input:checked ~ label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
} */

@media (max-width: 480px){
    .cabecalho {
        display: block;
        position: relative;
        text-align: center;
    }
    .cabecalho__nav {
        display: block;
        position: relative !important;
    }
    .cabecalho__nav--lista{
        display: none;
        width: 100%;
    }
    .cabecalho__nav--lista > li a{
        width: 100%;
    }
}
