:root {
    --fundo-preto: #0c0c0c;
    --texto: #EAE2DA;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;}

.cabecalho__logo a h1 img {
    height: 7rem;
}

.cabecalho a[href="#"]{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid;
}
.cabecalho__nav--lista {
    display: flex;
    gap: 6rem;
    list-style: none;
    margin-right: 9rem;
}

.cabecalho__nav--lista > li a{
    display: inline-block;
    color: var(--texto);
    font-size: 2rem;
    transition: 0.2s ease-in-out;
    padding: 1rem;

}

.cabecalho__nav--lista > li a:hover{
    border: solid;
}
