footer {
    max-height: 50em;
}
footer > p {
    font-weight: 300;
    font-size: 1.8rem;
    margin: 4rem 7.6rem;
}

footer {
    display: flex;
    position: fixed;
    z-index: initial;
    bottom: 0;
}