.botoes {
    display: flex;
    font-size: 32px;
    width: 23rem;
    height: 3rem;
    border-radius: 0px 0px 5rem 0px;
    font-weight: 700;
    line-height: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.botoes:hover{
    transform: scale(.9);
}