body {
    background-color: var(--fundo-preto);
    max-width: 1920px;
    height: 100vh;
    color: var(--texto);
}
body::-webkit-scrollbar{
    width: 0;
}

.principal {
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

.principal::-webkit-scrollbar{
    width: 0;
}
.principal > div{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    z-index: 0;
}

.principal__logo {
    align-items: center;
    background-image: url(../../images/Mask\ group.png);
    filter: blur(10px);
    display: flex;
    justify-content: center;
    width: 80vw;
}


.principal__info{
    height: 70rem;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.principal__info > div {
    margin: 30% auto 0 auto;
    padding: 0 auto;
    gap: 4rem;
    height: 100vh;
}

.principal__info > div p {
    text-align: left;
    font-size: 3.2rem;
    padding: 0 auto;
    margin: 0 auto 5rem;
}

.principal__info > div .botoes{
    margin: 4rem auto 0;
}

.principal__imagens {
    padding-top: 8rem;
}

.principal__imagens > a img {
    filter: grayscale(100%);
    transition: 0.3s;
    width: 33%;
    cursor: pointer;
}

.principal__imagens > a img:hover{
    filter: grayscale(0);
    transform: scale(.9);
    border-radius: 10px;
}


.principal__imagens .botoes{
    margin: 4rem auto 0;
}

.principal__artigos {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
    padding-top: 8rem;
}

.principal__artigos .conteudo__artigos {
    max-width: 33%;
}

.principal__artigos .conteudo__artigos img {
    width: 32.8vw;
}

.principal__artigos .conteudo__artigos .texto__artigos {
    padding: 1rem;
    overflow: visible;
}

.principal__artigos .conteudo__artigos .texto__artigos h2{
    font-size: 3rem;
    line-height: .9;
}

.principal__artigos .conteudo__artigos .texto__artigos span {
    color: #C62662;
    font-size: 1.4rem;
    font-weight: 500;
}

.principal__artigos .conteudo__artigos .texto__artigos p {
    font-size: 1.4rem;
    font-weight: 100;
}

.principal__artigos .conteudo__artigos a {
    font-size: 6rem;
    color: var(--texto);
}